
$form-border-color: #eee;
$form-border-color-error: #c01405;
$form-text-color: #aaaaaa;
$form-font-size: 16px;
$form-element-bgcolor: white;
$form-element-marginbottom: 20px;
$form-element-height: 52px;